@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import-normalize;

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
