$screen-md-min: 992px;
$kry-blue: rgb(10, 126, 133);

@mixin visuallyHidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  